name: tests

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore ./Ifs.ApiTests.Tests/Ifs.ApiTests.Tests.csproj

      - name: Test
        run: dotnet test ./Ifs.ApiTests.Tests/Ifs.ApiTests.Tests.csproj -c Release